html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    position: relative;
    min-height: 100%;
}

#body {
    padding:10px;
    padding-bottom:60px;   /* Height of the footer */
}

#footer {
    position: absolute;
    bottom: 0px;
    width:100%;
    background: #343a40;
}

.middle {
    margin: 0 auto;
}

.card{
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 10px 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card-table {
    margin-top: 20px;
    width: 100%;
    border-top: 1px solid #dee2e6;
}

.card-table td {
    padding: 5px;
    text-align: left;
}

.card-table tr:first-child td {
    padding-top: 20px;
}

.card-table tr td:first-child {
    max-width: 100px;
}

.btn-full-width {
    width: 100%;
}

.custom-file {
    margin-bottom: 20px;
}

.copyright {
  margin-top: 50px;
}

#LeftBlind {
    width: 100%;
}

#RightBlind {
    width: 100%;
}

.alert {
    padding: 0px 0px;
    margin: 0;
    height: 25px;
}

#manual {
    margin-top: 30px;
}

.manual-title {
	font-size: 1.2rem;
	margin-top: 10px;
}

.copyright {
    color: #fff;
    margin: 10px auto;
}

.upload-form input, label {
    margin-bottom: 10px;
}

.file {
    text-align: left;
    width: 100%;
}
